body{
    background-color: #EFE6F0;
    margin: 0;
}

.container{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: auto !important;
}

.odeljenje-card{
    flex: 0 0 15%;
    border-radius: 10px;
    background-color: #F4EBF7;
    position: relative;
    padding: 20px;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, .2);
    transition: transform .3s;
}

.odeljenje-card:hover{
    transform: scale(1.05);
}

.odeljenje-name{
    margin-top: 10px;
    margin-bottom: 20px;
}

.odeljenje-link{
    display: block;
    position:absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    text-decoration: none;
    color: black;
    z-index: 100;
}

.icon-button{
    padding: 2px;
    border-radius: 5px;
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 101;
    position: relative;
    background-color: #e0ddec;
    transition: background-color .3s;
}

.icon-button:hover{
    background-color: #cac4e3;
}

.icon-link{
    position:absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.student-card-link{
    text-decoration: none;
}

.student-card-wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	gap: 2rem;

	margin: auto;
}
.student-card {
	width: 250px;
    height: 250px;
	aspect-ratio: 2/3;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 5px 10px black;
    transition: transform .3s;
	background-color: #f2f2f2;
}

.student-card:hover{
    transform: scale(1.05);
}

.student-card-img {
	width: 100%;
	aspect-ratio: 3/2;
	background-position: center;
	background-size: cover;
}

.student-card-text {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center     ;
    font-size: 15px;
	gap: 1rem;
	padding-inline: 1rem;
    color: black;
}

.student-img{
    background-position: center;
	background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 16px;
}
.name-text{
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
}
.navbar-container{
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

header{
    background-color: #BF3100;;
}

.menu{
    display: flex;
    flex-direction: row;
}

.logo{
    padding: 10px 0 5px 0;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white ;
    font-size: 18px;
    font-weight: 500;
    transition: all .3s ease-in; 
    padding: 0 20px 0 20px;
    text-transform: capitalize;
}

.nav-link:hover{
    background-color: #922C09;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper{
    flex-basis: 500px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    margin: 10px 70px 70px;
}

.ocene-table{
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

.ocene-table td, .ocene-table th {
    text-align: center;
    padding: 8px;
}

.ocene-table td {
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    font-size: 12px;
}

.ocene-table thead th:first-child {
    color: #ffffff;
    background: #324960;
    
}


.ocene-table thead th:nth-child(2) {
    color: #ffffff;
    background: #4FC3A1;
}


.ocene-table tr:nth-child(even) {
    background: #F8F8F8;
}

.ocena-td{
    position: relative;
    cursor: pointer;
}

.ocena-td::before {
    content: var(--opis_ocene);
    background: #333333;
    color: #ffffff;
    cursor: pointer;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  
    bottom: calc(100% + 16px);
    height: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    width: 200%;
  }

.ocena-td::after {
    border: 8px solid transparent;
    border-top-color: #333333;
    bottom: 100%;
    content: "";
    height: 0px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.ocena-td:hover::before,
.ocena-td:hover::after {
  opacity: 1;
  visibility: visible;
}
